.navbar {
  position: relative;
  z-index: 200;

  &-navigation {
    display: flex;

    &-left {
      width: 50vw;
      height: 100vh;
      background-color: $color4;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1);

      .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba($color-black, 0.4);
        opacity: 0.7;
        border-radius: 10px;
      }
      .left-img-1 {
        top: 15%;
        left: 15%;
      }
      .left-img-2 {
        top: 35%;
        left: 25%;
      }
      .left-img-3 {
        top: 55%;
        left: 35%;
      }
    }
    &-right {
      width: 50vw;
      height: 100vh;
      background-color: $color5;
      position: fixed;
      right: -50vw;
      @include flexLayout;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    }

    .nav-list {
      &-item {
        list-style: none;
      }

      &-link {
        font-family: $font-primary;
        font-size: 50px;
        @include textStyles3(capitalize);
        text-decoration: none;
        color: $color2;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s;

        &:hover {
          color: $color3;
          letter-spacing: 4px;
        }
      }
    }
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}
.checkbox:checked ~ .hamburguer-menu .menu {
  transform: rotateZ(90deg);
}
.checkbox:checked ~ .hamburguer-menu .menu-line1 {
  transform: rotateZ(-40deg);
}
.checkbox:checked ~ .hamburguer-menu .menu-line2 {
  opacity: 0;
}
.checkbox:checked ~ .hamburguer-menu .menu-line3 {
  transform: rotateZ(40deg);
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color1, 0.8), rgba($color-black, 0.6)),
    url(../assets/background.jpg) center no-repeat;
  background-size: cover;

  .brand {
    color: $color5;
    display: flex;
    align-items: center;
    @include centering(15%);

    .logo-image {
      height: 40vh;
      //   opacity: 0.5;
      transition: all 0.4s;
      &:hover {
        opacity: 1;
      }
    }
  }
  &-banner {
    text-align: center;
    @include centering(50%);
  }
}

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;

  &-left {
    width: 90%;
    position: relative;
    left: -150px;

    img {
      width: 100%;
      opacity: 0.7;
    }
  }
  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;

    .stars {
      margin: 30px 0;
    }
    .star {
      font-size: 15px;
      color: $color2;
      margin-left: 10px;
    }

    .description {
      font-family: $font-primary;
      font-size: 15px;
      font-style: italic;
      text-align: justify;
      color: $color2;

      &::first-letter {
        padding-left: 50px;
      }
    }
  }
}

.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer {
  background-color: $color2;
  padding: 70px 0;
  @include flexLayout;
  flex-direction: column;
  .logo-image {
    height: 20vh;
  }
  &-copyright-paragraph {
    font-family: $font-primary;
    font-size: 12px;
    color: $color5;
    @include textStyles3;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 30px;

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      font-size: 20px;
      color: $color4;
    }
  }
}
.social-media-icon {
  height: 2vh;

  &:hover {
    transform: scale(1.5);
    transition: 0.3s;
  }
}

.menu-header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color1, 0.8), rgba($color-black, 0.6)),
    url(../assets/menu.jpg) center no-repeat;
  background-size: cover;
}
.menu-heading-text {
  font-family: $font-primary;
  font-size: 30px;
  color: $color2;
  @include textStyles3;
  padding: 3vh;
}
